{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/reviews/list.css'%}">
    <script defer src="{% static 'js/reviews/list.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>



{% endblock %}

{% block content%}
    {% include 'nav.html' %}
    <header>
        <img src="{% static 'img/header-img.png' %}">
        <h2>Client Testinomials</h2>
    </header>

    <main>

        <div id="add-reviews">
            <button id="add-review">Add Your Testinomial</button>
            <div id="myModal" class="modal" {% if form.errors %}style="display: flex;"{% endif %}>
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2> Add your review </h2>
                    {% if form.errors %}
                    <div class="errors">
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <div class="error-message">{{ error }}</div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <form method="post" id="review-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-field">
                                <label>{{field.label}}:</label> {{field}}
                            </div>
                        {% endfor %}
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="review-list">
            {% for review in reviews %}
                <div class="review-detail">
                    <div class="comment">{{ review.comment}}</div>
                    <div class="name">{{ review.name }} </div>
                </div>
            {% endfor%}
        </div>
    </main>

    

{% endblock content %}

