footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;;

    .tagline {
        padding: 90px 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;

        p {
            font-size: 36px;
            font-weight: 400;
        }

        a {
            font-size: 24px;
            color: #996830;
        }
    }

    .main {
        display: flex;
        justify-content: space-between;
        padding: 0 64px;
        gap: 48px 24px;

        .contact-form {
            width: calc(100% - 30%);
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 595px;

            h4 {
                font-family: var(--font-family-heading-2);
                font-weight: 700;
                font-size: 32px;
                color: #fff;
            }
            p {
                font-family: var(--font-family-light);
                color: #fff;
                font-size: 18px;

                .highlight {
                    color: #D4A373;
                }
            }
            form {
                display: flex;
                flex-wrap: wrap;
                gap: 16px 24px;

                .name, .message, .actions {
                    width: 100%;
                }

                .email, .phone {
                    width: calc(50% - 12px);
                }

                .input {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: var(--font-family-light);
                        font-weight: 200;
                        font-size: 12px;
                        color: #fff;
                    }

                    input, textarea {
                        font-family: var(--font-family-light);
                        color: #D4A373;
                        outline: none;
                        border: 0;
                        border-bottom: 1px solid #fff;
                        padding: 8px 4px;
                        background-color: transparent;

                        &:autofill {
                            background-color: transparent;
                        }
                    }
                }

                .actions {
                    button {
                        height: 44px;
                        padding: 12px 20px;
                        color: #000;
                        background-color: #D4A373;
                        border-radius: 22px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 0;
                        outline: 0;
                        cursor: pointer;

                        &:hover {
                            background-color: rgb(245, 210, 175);
                        }
                    }
                }
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 30%;
            gap: 16px;
        }

        .brand {
            width: 100%;

            img {
                height: 120px;
                margin-bottom: 18px;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            padding: 0;
            width: calc(100% / 2 - 8px);

            li {
                margin: 9px 0;
            }
        }

        .socials {
            display: flex;
            flex-direction: column;
            width: calc(100% / 2 - 8px);
            align-items: flex-start;

            .list {
                display: flex;
                flex-direction: column;
            }

            span {
                margin-top: 10px;

                i {
                    margin-right: 8px;
                }

                &.social-link {
                    text-decoration: underline;
                }
            }
        }

    }
}


@media screen and (max-width: 1000px) {
    footer {
        .tagline {
            text-align: start;
            align-items: flex-start;
            padding: 60px 64px;
            
            p {
                font-size: 32px;
            }
    
            a {
                font-size: 18px;
            }
        }
        .main {
            flex-direction: column;

            .contact-form {
                width: 100%;

                form {
                    .email, .phone {
                        width: 100%;
                    }
                }
            }
            .info {
                width: 100%;
            }

            .brand {
                width: 100%;
                margin-bottom: 24px;

                img {
                    height: 96px;
                }
            }
            .links {
                align-items: flex-start;
                margin-bottom: 24px;
            }
            .socials {
                align-items: flex-start;
            }
        }
    }
}


@media screen and (max-width: 640px) {
    footer {
        .tagline {
            text-align: start;
            align-items: flex-start;
            padding: 48px 32px;
            
            p {
                font-size: 32px;
            }
    
            a {
                font-size: 18px;
            }
        }
        .main {
            padding: 0 32px;

            .brand {
                width: 100%;
                margin-bottom: 48px;

                img {
                    height: 80px;
                }
            }
        }
    }
}
