footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 72px;
    width: 100%;

    .group {
        display: flex;
        flex-direction: column;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 6px 0;
                font-size: 14px;
            }

            li.icons {
                font-size: 20px;

                a {
                    margin-right: 8px;
                }
            }
        }

        &.group-3 {
            align-items: center;
        }
    }
}