footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 70px;
    width: 100%;
    // background-color: #faf0e6;
    // background-color: #faf0e688;
    border-top: 1px solid #f0f0f0;

    .group {
        display: flex;
        flex-direction: column;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 6px 0;
                font-size: 14px;
            }

            li.icons {
                font-size: 20px;

                a {
                    margin-right: 8px;
                }
            }
        }

        &.group-3 {
            align-items: center;
        }
    }
}


@media screen and (max-width: 750px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 32px 48px;

        .group {
            margin-top: 16px;

            &.group-3 {
                align-items: flex-start;
            }
        }
    }
}