.image-comparison-wrapper {
    position: relative;
    overflow: hidden;
    background: #fff;
    border: 7px solid #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    
    .images {
        height: 100%;
        width: 100%;
        display: flex;
    }
    .images .img-1 {
        height: 100%;
        width: 100%;
        background: var(--image) no-repeat;
        overflow: hidden;
        
        img {
            width: auto;
            height: 100%;
        }

        span {
            position: absolute;
            top: 50%;
            right: 16px;
        }
    }
    .images .img-2 {
        position: absolute;
        height: 100%;
        width: 50%;
        background: var(--image) no-repeat;
        overflow: hidden;
        
        img {
            width: auto;
            height: 100%;
        }

        span {
            position: absolute;
            top: 50%;
            left: 16px;
        }
    }
    .slider {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 99;
        height: 100%;

        input {
            width: 100%;
            height: 100%;
            outline: none;
            background: none;
            appearance: none;
        }
        input::-webkit-slider-thumb {
            width: 3px;
            background: none;
            -webkit-appearance: none;
            cursor: col-resize;
        }
        input[type=range]::-moz-range-thumb {
            width: 3px;
            background: none;
            cursor: col-resize;
        }
        .drag-line {
            width: 3px;
            height: 100%;
            position: absolute;
            left: 49.85%;
            pointer-events: none;
        }
        .drag-line::before,
        .drag-line::after {
            position: absolute;
            content: "";
            width: 100%;
            height: calc(50% - 20px);
            background: #fff;
        }
        .drag-line::before{
            top: 0;
        }
        .drag-line::after {
            bottom: 0;
        }
        .drag-line span {
            height: 42px;
            width: 42px;
            border: 3px solid #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }
        .drag-line span::before,
        .drag-line span::after {
            position: absolute;
            content: "";
            top: 50%;
            border: 10px solid transparent;
            border-bottom-width: 0px;
            border-right-width: 0px;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        .drag-line span::before {
            left: 40%;
            border-left-color: #fff;
        }
        .drag-line span::after {
            left: 60%;
            border-top-color: #fff;
        }
    }
}