
nav {
    position: absolute;
    top: 32px;
    left: 32px;
    width: calc(100% - 64px);
    height: var(--height-nav-bar);

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d0d1d1;
    padding: 0 48px;
    z-index: 10;
    border-radius: 10px;

    h1 {
        height: 100%;
        z-index: 100;
        display: flex;
        align-items: center;

        a {
            height: 100%;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 20px;

            img {
                margin-top: 8px;
                height: 64px;
                width: auto;
            }
        }
    }

    .nav-toggle {
        display: none;
        z-index: 50;
    }

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        z-index: 100;

        li {
            padding: 0 23px;
            font-size: 16px;
            display: flex;
            align-items: center;

            a {
                color: #000;

                &:hover {
                    color: #8B3E2F;
                }
            }

            &:last-child {
                height: 44px;
                border-radius: 22px;
                background-color: #8B3E2F;

                a {
                    color: #fff;
                }
            }
        }
    }
}


@media screen and (max-width: 900px) {
    nav {
        height: 67px;
        border-radius: 6px;
        top: 16px;
        left: 16px;
        width: calc(100% - 32px);
        padding-left: 28px;

        h1 {
            display: flex;
            
            a {
                width: 100%;

                img {
                    height: 45px;
                }
            }
        }

        .nav-toggle {
            position: absolute;
            display: block;
            align-self: center;
            height: 24px;
            width: 25px;
            right: 25px;
            top: 16px;

            span,
            span:before,
            span:after {
                content: '';
                height: 3px;
                width: 25px;
                display: block;
                border-radius: 6px;
                position: absolute;
                transition: all 0.3s ease-in-out;
                background-color: #8B3E2F;
                bottom: 7px;
            }

            span:before {
                bottom: 7px;
            }

            span:after {
                bottom: -7px;
            }
        }

        ul {
            position: absolute;
            left: 0;
            top: 67px;
            flex-direction: column;
            align-items: center;
            transition: all 0.3s ease-in-out;
            max-height: 0;
            overflow: hidden;
            width: 100%;
            background-color: rgba(208, 209, 209, 0.9);
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            li {
                padding: 8px;

                &:last-child {
                    border: 0;
                    padding-bottom: 8px;
                }
            }
        }

        &.open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .nav-toggle {
                span {
                    background-color: transparent;
                }

                span:before {
                    bottom: 0;
                    transform: rotateZ(45deg);
                }

                span:after {
                    bottom: 0;
                    transform: rotateZ(-45deg);
                }
            }

            ul {
                // max-height: 256px;
                max-height: 200px;
                padding-bottom: 10px;
            }
        }
    }
}

