nav {
    height: var(--height-nav-bar);
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 16px 0;

    .nav-container {
        width: var(--width-page);
        height: 100%;

        a {
            img {
                height: 100%;
            }
        }
    }
}