footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;;

    .tagline {
        padding: 90px 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            font-size: 48px;
            font-weight: 400;
        }

        a {
            font-size: 28px;
            color: #996830;
        }
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        padding: 0 64px;

        .brand {
            width: 55%;

            img {
                height: 50px;
                margin-bottom: 18px;
            }
        }

        .links {
            list-style: none;
            padding: 0;
            width: 30%;

            li {
                margin: 16px 0;
            }
        }

        .socials {
            display: flex;
            flex-direction: column;
            width: calc(100% - 55% - 30%);

            span {
                margin-top: 10px;

                i {
                    margin-right: 8px;
                }

                &.social-link {
                    text-decoration: underline;
                }
            }
        }

    }
}


@media screen and (max-width: 1000px) {
    footer {
        .tagline {
            text-align: start;
            align-items: flex-start;
            padding: 60px 64px;
            
            p {
                font-size: 32px;
            }
    
            a {
                font-size: 18px;
            }
        }
        .main {
            .brand {
                width: 100%;
                margin-bottom: 48px;
            }
            .socials {
                width: calc(100% - 30%);
            }
        }
    }
}


@media screen and (max-width: 640px) {
    footer {
        .tagline {
            text-align: start;
            align-items: flex-start;
            padding: 48px 32px;
            
            p {
                font-size: 32px;
            }
    
            a {
                font-size: 18px;
            }
        }
        .main {
            padding: 0 32px;

            .brand {
                width: 100%;
                margin-bottom: 48px;
            }

            .links {
                width: 100%;
            }

            .socials {
                width: 100%;
            }
        }
    }
}
