@import './base';
@import './footer';
@import './nav';
// @import './nav-animation';

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    position: relative;

    img, video {
        width: 100%;
        height: calc(100vh - var(--height-nav-bar));

        object-fit: cover;
        object-position: center center;
    }

    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - var(--height-nav-bar));
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        margin-left: 48px;

        .tagline {
            margin-bottom: 24px;
            color: #f5f5f0;
            font-size: 40px;
            font-family: var(--font-family-title);
        }

        .message {
            font-size: 19px;
            font-family: var(--font-family-light);
        }
    }

    #about {
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), var(--background-image);
        background-position: center center;
        background-size: cover;
        height: 100vh;
        border-top: 2px solid white;
        padding: 250px 160px;

        h2 {
            margin-bottom: 24px;
            font-size: 40px;
        }

        p {
            font-size: 18px;
            text-align: justify;
        }
    }

    #services {
        border-top: 2px solid white;
        display: flex;
        flex-direction: column;
        padding: 64px 72px;
        width: 100%;
        text-transform: uppercase;

        h2 {
            margin-bottom: 24px;
            font-size: 40px;
            width: 100%;
            border-bottom: 1px solid white;
            line-height: 1;
        }

        .list {
            display: grid;
            grid-template-columns: repeat(auto-fill, calc(100% / 3 - 40px));
            grid-gap: 40px;
            justify-content: space-between;

            .tile {
                display: flex;
                flex-direction: column;

                .name {
                    font-size: 21px;
                    margin-bottom: 12px;
                    text-transform: uppercase;
                }

                .preview {
                    position: relative;
                    height: 350px;
                    width: 100%;
                    border: 3px solid white;
                    transition: transform 0.3s ease-in-out;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 16px;
                        margin: 0 auto;
                        width: 160px;
                        background-color: white;
                        border-radius: 48px;
                        height: 48px;
                        color: #000;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .summary {
                    font-size: 14px;
                    text-align: justify;
                    line-height: 2;
                    margin-top: 12px;
                }

                &:hover {
                    color: var(--color-foreground)
                }
            }
        }

        .readmore {
            margin-top: 8px;
            color: var(--color-tertiary-dark);
            align-self: flex-end;
        }
    }

    #process {
        display: flex;
        flex-direction: column;
        padding: 64px 72px;
        width: 100%;

        h2 {
            margin-bottom: 24px;
            font-size: 40px;
            width: 100%;
            border-bottom: 1px solid white;
            line-height: 1;
            text-transform: uppercase;
        }

        .list {
            display: grid;
            grid-template-columns: repeat(auto-fill, calc(100% / 3 - 40px));
            grid-gap: 40px;
            justify-content: space-between;

            .tile {
                display: flex;
                flex-direction: column;
                margin: 32px 0;

                .name {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 16px;
                }

                .description {
                    font-size: 14px;
                    line-height: 2;
                    text-align: justify;
                }
            }
        }
    }

    #gallery {
        display: flex;
        flex-direction: column;
        padding: 64px 72px;
        width: 100%;

        h2 {
            margin-bottom: 24px;
            font-size: 40px;
            width: 100%;
            border-bottom: 1px solid white;
            line-height: 1;
            text-transform: uppercase;
        }

        .swiper {
            width: 100%;
            height: 520px;

            .swiper-slide {
                width: 520px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        filter: brightness(80%);
                        transform: scale(1.06);
                    }
                }
            }

            .btn {
                color: white;
            }
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 32px 256px 64px;
        background-color: var(--color-background-alt-2);

        h2 {
            font-size: 40px;
            margin-bottom: 16px;
        }

        .list {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .tile {
                text-align: center;
                position: relative;
                cursor: pointer;
                height: 300px;
                transition: transform 0.3s ease-in-out;
                border-radius: 20px;
                overflow: hidden;
                width: calc(100% / 3 - 20px);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .name {
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    width: 100%;
                    color: #000a;
                    font-size: 20px;
                    background-color: rgba(200,200,200);
                }

                &:hover {
                    transform: scale(1.03);
                }
            }
        }

        .readmore {
            color: var(--color-tertiary-dark);
            align-self: flex-end;
            margin-top: 8px;
            margin-right: 16px;
        }
    }
}

@media screen and (max-width: 1300px) {
    main {
        .services {
            padding: 32px 64px;
        }

        .projects {
            padding: 32px 64px;

            .list {
                .tile {
                    height: 240px;

                    .name {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    main {
        height: auto;

        .title {
            .slogan {
                width: 95%;
                padding: 24px;
                border-radius: 16px;

                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                }

                a {
                    font-size: 20px;
                }
            }
        }

        .services {
            padding: 48px 32px;

            h2 {
                font-size: 26px;
            }

            .list {
                flex-direction: column;

                .tile {
                    width: 100%;
                    margin-bottom: 16px;
                }
            }
        }

        .projects {
            padding: 48px 32px;

            h2 {
                font-size: 26px;
            }


            .list {
                flex-direction: column;

                .tile {
                    width: 100%;
                    height: 240px;
                    border-radius: 16px;

                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-15px);} 
    60% {transform: translateY(-5px);} 
 } 