@import '../base';
@import '../nav';
@import '../footer';

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img, video {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center center;
    }

    button {
        position: absolute;
        right: 32px;
        bottom: 32px;
        border: 0px;
        outline: none;
        background-color: var(--color-tertiary);
        color: #fff;
        cursor: pointer;
        padding: 8px 10px;
        font-weight: 600;
        border-radius: 8px;

        &:hover {
            background-color: var(--color-tertiary-light);
        }
    }
}

