@import '../base';
@import '../nav';
@import '../footer';
@import './nav-animation';

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    img, video {
        width: 100%;
        height: calc(100vh - var(--height-nav-bar));

        object-fit: cover;
        object-position: center center;
    }

    .services {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 32px 256px;
        background-color: var(--color-background-alt-2);

        h2 {
            font-size: 40px;
            padding-bottom: 20px;
        }

        .list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .tile {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100% / 3 - 40px);

                .name {
                    font-size: 20px;
                    margin-bottom: 8px;
                }

                .summary {
                    font-size: 14px;
                    font-weight: 300;
                    text-align: justify;
                    line-height: 1.5;
                }

                &:hover {
                    color: var(--color-foreground)
                }
            }
        }

        .readmore {
            margin-top: 8px;
            color: var(--color-tertiary-dark);
            align-self: flex-end;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 32px 256px 64px;
        background-color: var(--color-background-alt-2);

        h2 {
            font-size: 40px;
            margin-bottom: 16px;
        }

        .list {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .tile {
                text-align: center;
                position: relative;
                cursor: pointer;
                height: 300px;
                transition: transform 0.3s ease-in-out;
                border-radius: 20px;
                overflow: hidden;
                width: calc(100% / 3 - 20px);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .name {
                    position: absolute;
                    bottom: 0;
                    padding: 10px;
                    width: 100%;
                    color: #000a;
                    font-size: 20px;
                    background-color: rgba(200,200,200);
                }

                &:hover {
                    transform: scale(1.03);
                }
            }
        }

        .readmore {
            color: var(--color-tertiary-dark);
            align-self: flex-end;
            margin-top: 8px;
            margin-right: 16px;
        }
    }

}

@media screen and (max-width: 1300px) {
    main {

        .reviews {
            padding: 0 64px;
        }

        .services {
            padding: 32px 64px;
        }

        .projects {
            padding: 32px 64px;

            .list {
                .tile {
                    height: 240px;

                    .name {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    main {
        height: auto;

        .services {
            padding: 48px 32px;

            h2 {
                font-size: 26px;
            }

            .list {
                flex-direction: column;

                .tile {
                    width: 100%;
                    margin-bottom: 16px;
                }
            }
        }

        .projects {
            padding: 48px 32px;

            h2 {
                font-size: 26px;
            }


            .list {
                flex-direction: column;

                .tile {
                    width: 100%;
                    height: 240px;
                    border-radius: 16px;

                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}
