:root {
  --color-primary: #1E88E5;
  --color-primary-dark: #1565C0;
  --color-primary-darker: #0D47A1;
  --color-primary-light: #64B5F6;
  --color-primary-lighter: #90CAF9;
  --color-tertiary: #F4511E;
  --color-tertiary-dark: #BF360C;
  --color-tertiary-light: #FF8A65;
  --color-tertiary-lighter: #FFAB91;
  --color-secondary: #7CB342;
  --color-secondary-dark: #689F38;
  --color-secondary-darker: #33691E;
  --color-secondary-light: #AED581;
  --color-secondary-lighter: #C5E1A5;
  --color-background: #232421;
  --color-background-alt: rgb(245, 245, 240);
  --color-background-alt-2: rgb(245, 245, 240, 0.4);
  --color-foreground: #fff;
  --color-foreground-lighter: #c0c0c0;
  --font-family-title: "Trend Sans W00 Four", sans-serif;
  --font-family-heading: "Avenir Heavy", sans-serif;
  --font-family-heading-2: "Poppins", sans-serif;
  --font-family-normal: "Avenir Light", sans-serif;
  --font-family-reviews: "Forum", serif;
  --font-family-cursive: "Mali", cursive;
  --font-family-light: "Avenir Light", sans-serif;
  --font-family-icon: "Font Awesome 5 Free";
  --height-nav-bar: 56px;
  --height-footer: 120px;
  --width-page: 1100px;
  --width-content: 60%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-normal);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1 {
  font-family: var(--font-family-heading);
}

h2 {
  font-family: var(--font-family-heading);
}

a {
  color: var(--color-foreground);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--color-foreground-lighter);
}

#contact-bar {
  position: fixed;
  left: 0;
  bottom: calc(var(--height-footer));
  display: flex;
  flex-direction: column;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
#contact-bar a {
  padding: 8px 10px;
  font-size: 18px;
  background-color: var(--color-tertiary-dark);
  color: #fff;
}
#contact-bar a:hover {
  background-color: var(--color-tertiary);
}

@media screen and (max-width: 1100px) {
  #contact-bar {
    bottom: 8px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 70px;
  width: 100%;
  border-top: 1px solid #f0f0f0;
}
footer .group {
  display: flex;
  flex-direction: column;
}
footer .group ul {
  list-style: none;
  padding: 0;
}
footer .group ul li {
  margin: 4px 0;
  font-size: 14px;
}
footer .group ul li.icons {
  font-size: 20px;
}
footer .group ul li.icons a {
  margin-right: 8px;
}
footer .group.group-3 {
  align-items: center;
}

@media screen and (max-width: 750px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 32px 48px;
  }
  footer .group {
    margin-top: 16px;
  }
  footer .group.group-3 {
    align-items: flex-start;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--height-nav-bar);
  background-color: var(--color-background);
  color: var(--color-foreground);
  z-index: 10;
  border-bottom: 1px solid var(--color-background-alt-2);
}
nav h1 {
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: var(--color-background-alt);
  padding: 0 10px;
}
nav h1 a {
  height: calc(100% - 16px);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}
nav h1 a img {
  height: 100%;
  width: auto;
  margin-right: 10px;
}
nav .nav-toggle {
  display: none;
  z-index: 50;
}
nav ul {
  display: flex;
  list-style: none;
  z-index: 100;
  height: 100%;
}
nav ul li {
  padding: 0 16px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
}
nav ul li a.active {
  color: var(--color-tertiary);
}
nav ul li:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 8px 16px;
  }
}
@media screen and (max-width: 750px) {
  nav h1 {
    display: flex;
    width: calc(100% - 40px - 50px);
  }
  nav h1 a {
    width: 100%;
  }
  nav .nav-toggle {
    position: absolute;
    display: inline-block;
    align-self: center;
    right: 50px;
    top: 35px;
  }
  nav .nav-toggle span,
  nav .nav-toggle span:before,
  nav .nav-toggle span:after {
    content: "";
    height: 3px;
    width: 25px;
    display: block;
    border-radius: 6px;
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-foreground);
  }
  nav .nav-toggle span:before {
    bottom: 7px;
  }
  nav .nav-toggle span:after {
    bottom: -7px;
  }
  nav ul {
    position: absolute;
    left: 0;
    top: var(--height-nav-bar);
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  nav ul li {
    padding: 8px;
  }
  nav.open .nav-toggle span {
    background-color: transparent;
  }
  nav.open .nav-toggle span:before {
    bottom: 0;
    transform: rotateZ(45deg);
  }
  nav.open .nav-toggle span:after {
    bottom: 0;
    transform: rotateZ(-45deg);
  }
  nav.open ul {
    max-height: 256px;
    padding-bottom: 10px;
  }
}
html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
}
main img, main video {
  width: 100%;
  height: calc(100vh - var(--height-nav-bar));
  object-fit: cover;
  object-position: center center;
}
main .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--height-nav-bar));
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  margin-left: 48px;
}
main .title .tagline {
  margin-bottom: 24px;
  color: #f5f5f0;
  font-size: 40px;
  font-family: var(--font-family-title);
}
main .title .message {
  font-size: 19px;
  font-family: var(--font-family-light);
}
main #about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), var(--background-image);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  border-top: 2px solid white;
  padding: 250px 160px;
}
main #about h2 {
  margin-bottom: 24px;
  font-size: 40px;
}
main #about p {
  font-size: 18px;
  text-align: justify;
}
main #services {
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  padding: 64px 72px;
  width: 100%;
}
main #services h2 {
  margin-bottom: 24px;
  font-size: 40px;
  width: 100%;
  border-bottom: 1px solid white;
  line-height: 1;
}
main #services .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(33.3333333333% - 40px));
  grid-gap: 40px;
  justify-content: space-between;
}
main #services .list .tile {
  display: flex;
  flex-direction: column;
}
main #services .list .tile .name {
  font-size: 21px;
  margin-bottom: 12px;
  text-transform: uppercase;
}
main #services .list .tile .preview {
  position: relative;
  height: 350px;
  width: 100%;
  border: 3px solid white;
  transition: transform 0.3s ease-in-out;
}
main #services .list .tile .preview img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
main #services .list .tile .preview a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  margin: 0 auto;
  width: 160px;
  background-color: white;
  border-radius: 48px;
  height: 48px;
  color: #000;
  transition: all 0.3s ease-in-out;
}
main #services .list .tile .preview a:hover {
  background-color: #000;
  color: #fff;
}
main #services .list .tile .preview:hover {
  transform: scale(1.05);
}
main #services .list .tile .summary {
  font-size: 14px;
  text-align: justify;
  line-height: 2;
  margin-top: 12px;
}
main #services .list .tile:hover {
  color: var(--color-foreground);
}
main #services .readmore {
  margin-top: 8px;
  color: var(--color-tertiary-dark);
  align-self: flex-end;
}
main #process {
  display: flex;
  flex-direction: column;
  padding: 128px 72px;
  width: 100%;
}
main #process h2 {
  margin-bottom: 24px;
  font-size: 40px;
  width: 100%;
  border-bottom: 1px solid white;
  line-height: 1;
}
main #process .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(33.3333333333% - 40px));
  grid-gap: 40px;
  justify-content: space-between;
}
main #process .list .tile {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}
main #process .list .tile .name {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 16px;
}
main #process .list .tile .description {
  font-size: 14px;
  line-height: 2;
  text-align: justify;
}
main .projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 256px 64px;
  background-color: var(--color-background-alt-2);
}
main .projects h2 {
  font-size: 40px;
  margin-bottom: 16px;
}
main .projects .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .projects .list .tile {
  text-align: center;
  position: relative;
  cursor: pointer;
  height: 300px;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  overflow: hidden;
  width: calc(33.3333333333% - 20px);
}
main .projects .list .tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .projects .list .tile .name {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
  color: rgba(0, 0, 0, 0.6666666667);
  font-size: 20px;
  background-color: rgb(200, 200, 200);
}
main .projects .list .tile:hover {
  transform: scale(1.03);
}
main .projects .readmore {
  color: var(--color-tertiary-dark);
  align-self: flex-end;
  margin-top: 8px;
  margin-right: 16px;
}

@media screen and (max-width: 1300px) {
  main .services {
    padding: 32px 64px;
  }
  main .projects {
    padding: 32px 64px;
  }
  main .projects .list .tile {
    height: 240px;
  }
  main .projects .list .tile .name {
    font-size: 16px;
  }
}
@media screen and (max-width: 990px) {
  main {
    height: auto;
  }
  main .title .slogan {
    width: 95%;
    padding: 24px;
    border-radius: 16px;
  }
  main .title .slogan h2 {
    font-size: 18px;
  }
  main .title .slogan p {
    font-size: 14px;
  }
  main .title .slogan a {
    font-size: 20px;
  }
  main .services {
    padding: 48px 32px;
  }
  main .services h2 {
    font-size: 26px;
  }
  main .services .list {
    flex-direction: column;
  }
  main .services .list .tile {
    width: 100%;
    margin-bottom: 16px;
  }
  main .projects {
    padding: 48px 32px;
  }
  main .projects h2 {
    font-size: 26px;
  }
  main .projects .list {
    flex-direction: column;
  }
  main .projects .list .tile {
    width: 100%;
    height: 240px;
    border-radius: 16px;
  }
  main .projects .list .tile:not(:last-child) {
    margin-bottom: 24px;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/*# sourceMappingURL=home-page.css.map */
