<footer id="contact">
    {% if home_page_contents.tagline.footer %}
    <div class="tagline">
        <p>
            {{ home_page_contents.tagline.footer }}
        </p>
        
        <a href="mailto:{{ contact_info.email }}">{{ contact_info.email }}</a>
    </div>
    {% endif %}
    <div class="main">
        <div class="brand">
            {% if home_page_contents.logo_white %}
            <img src="{{ home_page_contents.logo_white.url }}">
            {% else %}
            <img src="{{ home_page_contents.logo.url }}">
            {% endif %}
        </div>
        <ul class="links">
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <!-- <li><a href="#process">Our Process</a></li> -->
            <li><a href="#gallery">Photo Gallery</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="socials">
            <div class="list">            
                {% if contact_info.instagram_link %}
                    <span class="social-link"><a href="{{ contact_info.instagram_link }}" target="_blank"><i class="fab fa-instagram"></i>Instagram</a></span>
                {% endif %}
                {% if contact_info.youtube_link %}
                    <span class="social-link"><a href="{{ contact_info.youtube_link }}" target="_blank"><i class="fab fa-youtube"></i>Youtube</a></span>
                {% endif %}
                {% if contact_info.facebook_link %}
                    <span class="social-link"><a href="{{ contact_info.facebook_link }}" target="_blank"><i class="fab fa-facebook"></i>Facebook</a></span>
                {% endif %}
                {% if contact_info.linkedin_link %}
                    <span class="social-link"><a href="{{ contact_info.linkedin_link }}" target="_blank"><i class="fab fa-linkedin"></i>LinkedIn</a></span>
                {% endif %}
            </div>

        </div>
    </div>
    <!-- <div class="strip">
        Copyright © Griha Designs 2024. All Rights Reserved.
    </div> -->
</footer>