{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/homepage/home-page.css' %}">

{% endblock %}

{% block content %}
{% include 'nav.html' %}

    <main>

        <section id="intro">
            <div class="mobile-hero-image-container">
                <img class="hero-image" src="{{ home_page_contents.header_image.url }}">
            </div>
            <div class="hero">
                <div class="slogan">
                    <h2>
                        {{ home_page_contents.tag_line }}
                    </h2>
                    <p>
                        {{ home_page_contents.welcome_message }}
                    </p>
                </div>             
                <!-- <div class="buttons">
                    <a href="{% url 'project-list-page' %}">Projects</a>
                    <a href="{% url 'service-list-page' %}">Services</a>
                    <a href="{% url 'reviews' %}">Client Testimonials</a>
                </div> -->
            </div>
            <div class="hero-image-container">
                <img class="hero-image" src="{{ home_page_contents.header_image.url }}">
            </div>
        </section>

        <section class="reviews">
            <div class="half-bg"></div>
            <h2>What our clients say..</h2>
            <div class="list">
                {% for review in reviews %}
                    <div class="tile">
                        <div class="comment">{{ review.comment|linebreaks }}</div>
                        <div class="name">{{ review.name }}</div>
                    </div>
                {% endfor %}
            </div>

            <a class="readmore" href="{% url 'review'}">Read more client testimonials</a>
        </section>

        <section class="services">
            <h2>What we offer..</h2>
            <div class="list">
                {% for service in services %}
                <a class="tile" href="{% url 'service-detail-page' service.slug %}">
                    <div class="name">{{ service.name }}</div>
                    <div class="summary">{{ service.summary }}</div>
                </a>
                {% endfor %}
            </div>
            <a class="readmore" href="{% url 'service-list-page' %}">Explore all services</a>
        </section>

        <section class="projects">
            <h2>What we have done..</h2>
            <div class="list">
                {% for project in projects %}
                <a class="tile" href="{% url 'project-detail-page' project.slug %}">
                    <img src="{{ project.header_image.url }}">
                    <div class="name">{{ project.name }}</div>
                </a>
                {% endfor %}
            </div>
            <a class="readmore" href="{% url 'project-list-page' %}">Explore all Projects</a>
        </section>

        <!-- <section class="services">
            <div class="title">
                <h2>Our Major Services</h2>
                <a href="{% url 'service-list-page' %}">Explore all services</a>
            </div>
            <div class="list">
                {% for service in services %}
                <a class="tile" href="{% url 'service-detail-page' service.slug %}">
                    <img src="{{ service.header_image.url }}">
                    <div class="name">{{ service.name }}</div>
                </a>
            {% endfor %}
            </div>
        </section> -->
    </main>

    {% include 'footer.html' %}

{% endblock %}

