{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/homepage/home-page.css' %}">

{% endblock %}

{% block content %}
    {% include 'nav.html' %}
    <main>
        {% if homePageContents.header_video %}
        <video autoplay loop muted>
            <source src="{{ homePageContents.header_video.url }}" type="video/mp4">
            <img src="{{ homePageContents.header_image.url }}">
        </video>
        {% else %}
        <img src="{{ homePageContents.header_image.url }}">
        {% endif %}

        <button>
            Request a quote
        </button>
    </main>

{% endblock %}

