{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/homepage/home-page.css' %}">

    <script>
        function goDown() {
            document.querySelector('.services').scrollIntoView({ behavior: 'smooth' });
        }
    </script>
{% endblock %}

{% block content %}
    {% include 'nav.html' %}

    <main>
        {% if home_page_contents.header_video %}
        <video autoplay loop muted>
            <source src="{{ home_page_contents.header_video.url }}" type="video/mp4">
            <img src="{{ home_page_contents.header_image.url }}">
        </video>
        {% else %}
        <img src="{{ home_page_contents.header_image.url }}">
        {% endif %}

        <section class="title">
            <div class="slogan">
                <h2>
                    {{ home_page_contents.tag_line }}
                </h2>
                <p>
                    {{ home_page_contents.welcome_message }}
                </p>
                <a href="#" onclick="goDown()"><i class="fas fa-chevron-down"></i></a>
            </div>     
        </section>


        <section class="services">
            <h2>What we offer..</h2>
            <div class="list">
                {% for service in services %}
                <a class="tile" href="{% url 'service-list-page' %}#{{ service.slug }}">
                    <div class="name">{{ service.name }}</div>
                    <div class="summary">{{ service.summary }}</div>
                </a>
                {% endfor %}
            </div>
            <a class="readmore" href="{% url 'service-list-page' %}">Explore all services</a>
        </section>

        <section class="projects">
            <h2>What we have done..</h2>
            <div class="list">
                {% for project in projects %}
                <a class="tile" href="{% url 'project-detail-page' project.slug %}">
                    <img src="{{ project.header_image.url }}">
                    <div class="name">{{ project.name }}</div>
                </a>
                {% endfor %}
            </div>
            <a class="readmore" href="{% url 'project-list-page' %}">Explore all Projects</a>
        </section>

    </main>

    {% include 'footer.html' %}

{% endblock %}

