@import '../base';
@import '../footer';
@import '../nav';
@import '../image-comparison';


html {
    scroll-behavior: smooth;
}

p {
    font-family: var(--font-family-light);
}

header {
    height: calc(587px - var(--height-nav-bar));
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 18px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        filter: brightness(0.25);
        background-color: #232421d0;
        z-index: -2;
    }

    .category {
        border: 1px solid #D4A373;
        height: 42px;
        width: 224px;
        border-radius: 21px;
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #D4A373;
        font-family: var(--font-family-heading-2);
        font-weight: 700;
    }

    h1 {
        font-family: var(--font-family-title);
        font-size: 62px;
        color: #f5f2eb;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 14px;
        text-align: center;
    }

    p {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 28px;
        text-align: center;
    }
}

main {
    display: flex;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    color: #2d2d2d;

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 72px 16px;

        .container {
            width: 100%;
            max-width: calc(1190px + 64px);
        }

        h2 {
            font-family: var(--font-family-heading);
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 32px;

            .highlight {
                color: #8B3E2F;
            }
        }


        p {
            font-family: var(--font-family-light);
            font-size: 20px;
            font-weight: 200;
        }

        &.dark {
            background-color: #131111;

            h2 {
                color: #fff;

                .highlight {
                    color: #D4A373;
                }
            }

            p {
                color: #fff;
            }
        }
    }
}


#about {
    .container {
        display: flex;
    }

    img {
        width: 500px;
        height: 400px;
        object-fit: cover;
        object-position: center center;
        margin-left: 70px;
        border-radius: 5px;
    }
}

#gallery {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
        }

        .grid {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: repeat(auto-fill, calc(100% / 3 - 40px));
            justify-content: space-between;
            width: 100%;

            .tile {
                height: 350px;

                a {
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1300px) {
    header {
        .category {
            font-size: 18px;
        }

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }

    main {
        section {
            h2 {
                font-size: 40px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}


@media screen and (max-width: 900px) {
    #about {
        .container {
            flex-direction: column;
        }

        img {
            margin: 32px 0 0;
            width: 100%;
        }
    }

    #gallery {
        .container {
            .grid {
                grid-template-columns: repeat(auto-fill, 100%);
            }
        }
    }
}