@import '../base';
@import '../nav';
@import '../footer';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - var(--height-nav-bar) - var(--height-footer) - 16px);
    background-color: var(--color-background-alt-2);

    h2 {
        text-align: center;
        display: inline;
        padding: 16px 48px;
        color: #0009;
        font-size: 40px;
        padding-bottom: 20px;
    }
}

.projects-list {
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    .project-tile {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        margin: 32px 0;

        .img-container {
            border-radius: 10px;
            overflow: hidden;
            width: 360px;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.8s ease-in-out;
            }
        }

        &:hover .img-container img {
            transform: scale(1.1);
        }

        .info {
            width: calc(100% - 360px);
            margin-left: 32px;
            color: #000d;

            p {
                margin-top: 10px;
                text-align: justify;
            }

            &:hover {
                color: #000b;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .info {
                width: calc(100% - 360px);
                margin-left: 0;
                margin-right: 32px;
            }
        }

    }
}



@media screen and (max-width: 1300px) {
    .projects-list {
        width: 75%;
    }
}

@media screen and (max-width: 920px) {
    .projects-list {
        .project-tile {
            flex-direction: column;
            align-items: center;

            .img-container {
                width: 100%;
                height: 356px;
            }

            .info {
                margin-left: 0;
                margin-right: 0;
                margin-top: 16px;
                width: 100%;

                h3 {
                    text-align: center;
                }

                p {
                    text-align: justify;
                }
            }


            &:nth-child(even) {
                flex-direction: column;

                .info {
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 16px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    main {
        h2 {
            font-size: 26px;
        }
    }

    .projects-list {
        width: 100%;
        padding: 0 20px;

        .project-tile {
            .img-container {
                height: 256px;
            }
        }
    }
}