{% extends "base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/projects/project-detail-page.css' %}">
    <script defer src="{% static 'external/fslightbox.js' %}"></script>
    <script defer src="{% static 'js/image-comparison.js' %}"></script>
{% endblock %}


{% block content %}
    {% include 'nav.html' %}

    <header>
        <img src="{{ project.thumbnail.url }}" oncontextmenu="return false">
        <div class="category">
            {{ project.service.name }}
        </div>
        <h1>{{ project.name }}</h1>
        <!-- <p></p> -->
    </header>

    <main>
        <section id="about">
            <div class="container">
                <div>
                    <!-- <h2></h2> -->
                    <p>
                        {{ project.description|linebreaksbr }}
                    </p>
                </div>
                <img src="{{ project.thumbnail.url }}">
            </div>
        </section>

        {% if project.images.count %}
        <section id="gallery">
            <div class="container">
                <h2>View Project Gallery</h2>
                
                <div class="grid">
                    {% for image in project.images.all %}
                    <div class="tile">
                        <a data-fslightbox href="{{ image.image.url }}">
                            <img src="{{ image.image.url }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
    </main>

    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        function goDown() {
            document.querySelector('.services').scrollIntoView({ behavior: 'smooth' });
        }
        const swiper = new Swiper('.swiper', {
            loop: true,
            slidesPerView: 'auto',
            centeredSlides: true,
            spaceBetween: 30,
            autoplay: {
                delay: 3000,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>

{% endblock %}