{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/projects/project-list-page.css'%}">
    <script src="{% static 'js/projects/service-project-list.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% include 'nav.html' %}

    <main>
        <h2>What we have done</h2>
        <div class="projects-list">
            {% for project in projects %}
            <a class="project-tile" href="{% url 'project-detail-page' project.slug %}">
                <div class="img-container">
                    <img src="{{ project.header_image.url }}">
                </div>
                <div class="info">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.summary }}</p>
                </div>
            </a>
            {% endfor%}
        </div>
    </main>

{% include 'footer.html' %}
    

    

{% endblock %}