{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Griha Designs | A Complete Architecture Solution{% endblock %}</title>
    <meta name="description" content="Discover the essence of Nepali architecture with Griha Designs, where tradition meets innovation. Our premier firm crafts timeless residential and commercial spaces, seamlessly blending cultural richness with modern vision. Elevate your surroundings and experience architectural excellence with Griha Designs.">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ home_page_contents.fav_icon.url }}" type="image/png">

    <script src="https://kit.fontawesome.com/67b15b82e9.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/nav.js' %}"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}

    {% endblock %}

    <div id="contact-bar">
        {% if contact_info.whatsapp_number %}
        <a target="_blank" href="https://wa.me/{{ contact_info.whatsapp_number }}">
            <i class="fab fa-whatsapp"></i>
        </a>
        {% endif %}
        {% if contact_info.instagram_link %}
        <a href="{{ contact_info.instagram_link }}" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        {% endif %}
        {% if contact_info.email %}
        <a href="mailto:{{ contact_info.email }}">
            <i class="far fa-envelope"></i>
        </a>
        {% endif %}
    </div>
</body>
</html>