{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/services/service-list-page.css'%}">
    <script src="{% static 'js/services/service-gallery.js' %}" defer></script>
{% endblock %}

{% block content %}
{% include 'nav.html' %}

<main>
    <section class="title">
        <h2>
            What we offer
        </h2>
    
        <!-- <p>
            Welcome to Griha Designs, where we specialize in providing top-notch home remodeling services tailored to transform your existing space into the home of your dreams. Our team of skilled professionals is dedicated to delivering high-quality craftsmanship, innovative design solutions, and exceptional customer service to ensure your remodeling project exceeds your expectations.
    
            Following you will find a summary of different services we offer to you as our client.
        </p> -->
    </section>

    <section class="service-list">
        {% for service in services %}
        <div class="service" id="{{ service.slug }}">
            <div class="photo">
                <img src="{{ service.header_image.url }}">
            </div>
            <div class="info">
                <h3>{{ service.name }}</h3>
                <p>{{ service.summary }}</p>
                {% if service.project_set.exists %}
                <div class="project-list">
                    <span class="label">Projects:</span>
                    {% for project in service.project_set.all %}
                    <a href="{% url 'project-detail-page' project.slug %}" class="project">{{ project.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>
        
</main>

{% include 'footer.html' %}

{% endblock %}